# `TypeError: 'float' object is not iterable`

## I'm using a `for` loop

Q: What does `TypeError: 'float' object is not iterable` mean?

A: You're trying to **iterate** (e.g. using a `for` loop) over something that's not a collection. 

In Python, when you use a for loop as in `for x in a:`, `a` must be an object that can contain multiple items, like a `dict` (multiple key/value pairs), a `list` (multiple ordered items), or a `str` (multiple characters), and then `x` is assigned sequentially to each item in `a`. However, if `a` isn't a collection, Python doesn't know how to loop through it. Here are some common cases when I see this error:

I want to print `"Hello"` `3` times:

In [1]:
# Wrong
times = 3
for i in times:
    print("Hello")

TypeError: 'int' object is not iterable

The way we fix this is to make a temporary collection that has `3` elements in it using the `range()` function:

In [2]:
# Right
times = 3
for i in range(times):
    print("Hello")

Hello
Hello
Hello

## I'm using `sum()`

People often see this error when using the `sum()` function. For example:

In [3]:
sum(4.5)

TypeError: 'float' object is not iterable

I haven't looked at the code for the `sum()` function, but I imagine this happens because the person who wrote `sum()` used a `for` loop or something similar. To see what might be going on behind the scenes, let's write our own sum function.

In [4]:
def my_sum(numbers):
    result = 0.0
    for number in numbers:
        result += number
    return result

my_sum([1, 2, 3])

6.0

In [5]:
my_sum(4.5)

TypeError: 'float' object is not iterable

Here's an example of the most common mistake I see when someone gets the `is not iterable` error.

Say you are a baker, and you want to know whether your salary is above or below the industry average. You know that salaries vary from city to city with the cost of living, so you only want to include the salaries that are from the same city you live in.

In [6]:
my_salary = 35
my_city = "Provo"

baker_cities = ["SLC", "SLC", "Provo", "Provo", "Ogden", "Provo"]
baker_salaries = [50, 45, 30, 40, 30, 50]

my_city_salaries = []
for i in range(len(baker_cities)):
    # i represents the indices in baker_cities and baker_salaries.
    # Note: this is not the best way to do this.
    baker_city = baker_cities[i]
    baker_salary = baker_salaries[i]
    if baker_city == my_city:
        my_city_salaries.append(baker_salary)
        
average = sum(baker_salary) / len(baker_salary)

TypeError: 'int' object is not iterable

The issue is that when we call `sum()`, it's not on the list we just built; it's on the temporary `baker_salary` float.

In [7]:
average = sum(my_city_salaries) / len(my_city_salaries)
average

40.0

## The `for` loop and the `sum()` weren't the problem.

Look in the test code that's run in INGInious. Do you see something that looks like this?

```python
value1, value2 = myFunction(someParameter)
```

This kind of variable assignment is called "unpacking", and it requires that the output of `myFunction()` returns a collection with the same number of items as variable you have on the left.

In [8]:
def myFunction(someParameter):
    return 1

someParam = 5
value1, value2 = myFunction(someParam)

TypeError: 'int' object is not iterable

The most common fix to this is returning the right number of things.

In [9]:
def myFunction(someParameter):
    return 1, 2

someParam = 5
value1, value2 = myFunction(someParam)

print(value1, value2)

1 2

## Too much information

Here's how (in my understanding) a `for` loop is happening behind the scenes:

In [10]:
values = [1, 3, 5]

# with a for loop:
for value in values:
    print(value)
    
print("---")
    
# behind the scenes
iterator = iter(values)
while True:
    try:
        value = next(iterator)
        print(value)
    except StopIteration:
        break

1
3
5
---
1
3
5

We make an iterator by calling `iter()` on a variable. Then we repeatedly call the `next()` function on our iterator, which finds the next item by "walking" down the collection and returns it. If there's no "next item", `next()` raises a `StopIteration` exception that breaks out of our loop.

We can't make an iterator by calling `iter()` on a variable that's not a collection. The concept of starting at the beginning of and then walking down a `float`, for example, doesn't really make sense.

In [11]:
value = 4.5
iter(value)

TypeError: 'float' object is not iterable